process.container = '/workdir/TREx_shared/projects/CHIP_ATAC_DEV.sif'
singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions = "-B /local -B /workdir"


process {
  withLabel:process_low {
    cpus   =    2
    memory =    14.GB

  }
  withLabel:process_medium {
    cpus   =    8
    memory =    32.GB

  }
  withLabel:process_high {
    cpus   =    20
    memory =    200.GB

  }

  withLabel:process_mqc {

    container = "docker://multiqc/multiqc:latest"
  
  }

  withLabel:process_screen {

    container = "file:///workdir/TREx_shared/projects/TREX_SCREEN.sif"
    
  }  

}


workflow.onComplete = {
    // any workflow property can be used here
    println "Pipeline complete"
    println "Command line: $workflow.commandLine"
}

workflow.onError = {
    println "Error: something when wrong"
}
